#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

article {
    clear: left;
}
article ol {
    list-style-type: upper-latin;
}
aside ul {
    list-style-type: square;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 15px auto;
}
article {
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted maroon;
    column-gap: 2em;
    margin-left: 2em; 
  }
  article h3 {
      column-span: all;
      border-top: 20px dashed maroon;
  }