html {
    background-image: linear-gradient(to left, magenta 0%, orange 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin: 15px auto;
    background-color: aliceblue;
    padding: 15px auto;
    border: 1px solid maroon;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
a:focus, a:hover{
    font-style: italic;
    color: rgb(16, 91, 231);
    border: 3px blue;
    border-style: dotted solid;
}
header h1 {
    font-size: 175%;
    color: blueviolet;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color: crimson;
    text-indent: 30px;
    border-bottom: 30% solid aquamarine;
}
header img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 15px auto;
}
.shadow {
    text-shadow: -2px 2px 2px rgb(0, 100, 40);
}
article {
  clear: left;
  width: 70%;
  float: left;
  column-count: 2;
  column-rule: 2px dotted maroon;
  column-gap: 2em;
  margin-left: 2em; 
}
article h3 {
    column-span: all;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 15px auto;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
    color: lightblue;
    padding: 12px auto;
}
aside {
    width: 20%;
    float: right;
    background-color: aquamarine;
    margin-left: 1em;
    padding: 15px auto;
}
footer {
    clear: both;
    border-top: 2px solid aquamarine;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
p.fixed {
    width: auto;
    position: fixed;
    bottom: 35%;
    right: 0;
    border: 3px solid aquamarine;
    background-color: aquamarine;
    padding: 10px auto;
}